{% extends "./question-template.njk" %}

{% set questionLegend = 'identity.securityQuestions.questionFour.heading' | translate %}
{% set questionName = 'loan' %}
{% set questionHint = 'identity.securityQuestions.questionFour.hint' | translate %}
{% set questionOptions = [{
  value: "Up to £160",
  text: "Up to £160"
},{
  value: "Over £160, up to £185",
  text: "Over £160 up to £185"
},{
  value: "Over £185, up to £210",
  text: "Over £185, up to £210"
},{
  value: "Over £210, up to £235",
  text: "Over £210, up to £235"
},{
  value: "None of the above/does not apply",
  text: "None of the above/does not apply"
}] %}

{% block beforeContent %}
{% endblock %}
