{% extends "./question-template.njk" %}

{% set questionLegend = 'identity.securityQuestions.questionTwo.heading' | translate %}
{% set questionName = 'mobile-contract-start' %}
{% set questionHint = 'identity.securityQuestions.questionTwo.hint' | translate %}
{% set questionOptions = [{
  value: "04/2017",
  text: "04/2017"
},{
  value: "10/2017",
  text: "10/2017"
},{
  value: "03/2021",
  text: "03/2021"
},{
  value: "01/2021",
  text: "01/2021"
},{
  value: "None of the above/does not apply",
  text: "None of the above/does not apply"
}] %}

{% block beforeContent %}
{% endblock %}
