{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'identity.useSavedIdentity.heading' | translate %}
{% set serviceName = 'GOV.UK account' %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ 'identity.identityConfirmed.heading' | translate }}</h1>

  <p class="govuk-body">{{ 'identity.identityConfirmed.paragraph1' | translate | replace("[doThing]", doThing) }}</p>

  <form action="{{doThingAction}}" method="get">
    {{ govukButton({
      text: 'general.continue' | translate,
      type: "submit"
    }) }}
  </form>
{% endblock %}
