{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'identity.saved.heading' | translate %}
{% set serviceName = 'GOV.UK account' %}
{% set doThing = 'apply for a basic DBS check' %}
{% set doThingAction = '/dbs' %}
{% set doThingLink = '/dbs' %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ 'identity.saved.heading' | translate }}</h1>

  <p class="govuk-body">{{ 'identity.saved.paragraph1' | translate }}</p>

  <p class="govuk-body">{{ 'identity.saved.paragraph2' | translate }}</p>

  <form action="{{doThingAction}}" method="get">
    {{ govukButton({
      text: 'identity.saved.buttonText' | translate | replace("[doThing]", doThing),
      type: "submit"
    }) }}
  </form>

  {{ govukDetails({
    summaryText: 'identity.saved.additionalDetails.summaryText' | translate,
    html: 'identity.saved.additionalDetails.text' | translate | replace("[doThingLink]", doThingLink) | replace("[doThing]", doThing)
  }) }}
{% endblock %}
