{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="/stylesheets/application.css" rel="stylesheet">
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">You’ve saved your proof of identity to your GOV.UK account</h1>

  <p class="govuk-body">
    This means you can skip the identity questions next time a service needs to check who you are.
  </p>

  <p class="govuk-body">
    You can sign in to your GOV.UK account to see or delete your proof of identity at any time.
  </p>

  <form action="/dbs" method="get">
    {{ govukButton({
      text: "Continue to apply for a basic DBS check",
      type: "submit"
    }) }}
  </form>

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/javascripts/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
