{% extends "layouts/base.njk" %}
{% set pageTitleName = 'identity.checkInPerson.heading' | translate %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ 'identity.checkInPerson.heading' | translate }}</h1>
  <p class="govuk-body">{{ 'identity.checkInPerson.paragraph1' | translate }}</p>
{% endblock %}
