{% extends "layouts/base.njk" %}
{% set pageTitleName = 'identity.confirmDetails.heading' | translate %}
{% set changeDetailsLink = "/identity/enter-address" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ 'identity.confirmDetails.heading' | translate }}</h1>

  {{ govukWarningText({
    text: 'identity.confirmDetails.warning' | translate,
    iconFallbackText: "Warning"
  }) }}
  {# address/year should be populated with the details they put in on the previous screen #}
  {{ govukSummaryList({
  rows: [
    {
      key: {
        text: 'identity.confirmDetails.summaryList.key1' | translate
      },
      value: {
        html: ["Flat 21<br>Hogwarts Castle<br>Near Hogsmeade<br>", postCode] | join
      },
      actions: {
        items: [
          {
            href: changeDetailsLink,
            text: "general.change" | translate,
            visuallyHiddenText: "address"
          }
        ]
      }
    },{
      key: {
        text: 'identity.confirmDetails.summaryList.key2' | translate
      },
      value: {
        html: startedYear
      },
      actions: {
        items: [
          {
            href: changeDetailsLink,
            text: "general.change" | translate,
            visuallyHiddenText: "year"
          }
        ]
      }
    }
  ]})}}
  <form action="/identity/confirm-details" method="post">
    {{ govukButton({
      text: 'identity.confirmDetails.buttonText' | translate,
      type: "submit"
    })}}
  </form>
{% endblock %}
