{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'identity.save.heading' | translate %}
{% set service = 'DBS' %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ 'identity.save.heading' | translate }}</h1>

  <p class="govuk-body">{{ 'identity.save.paragraph' | translate }}</p>

  <form action="/identity/save/" method="post">
    {{ govukButton({
      text: 'identity.save.buttonText' | translate,
      type: "submit"
    }) }}
  </form>

  <p class="govuk-body"><a class="govuk-link" href="/identity/complete/return">{{ 'identity.save.linkText' | translate | replace("[service]", service) }}</a></p>
  
  <a href="/identity/complete/saved" class="govuk-link">NEXT</a>
{% endblock %}
