{% extends "layouts/account.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set pageTitleName = 'account.pages.settings.title' | translate %}
{% set activeNavLink = '/account/settings' %}
{% set hasProofOfId = true %}
{% set showSuccessMessage = false %}
{% set successMessage %}
  <h3 class="govuk-notification-banner__heading">
    {{ 'account.pages.settings.deletedProofOfIdSuccess' | translate }}
  </h3>
{% endset %}

{% block content %}
  {% if showSuccessMessage %}
    {{ govukNotificationBanner({
      html: successMessage,
      type: 'success'
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ 'account.pages.settings.title' | translate }}</h1>
  <h2 class="govuk-heading-m">{{ 'account.pages.settings.accountDetails' | translate }}</h2>
  {{ govukSummaryList({
      classes:"accounts-summary-list",
      rows: [
          {
              key: {
                  text: 'account.pages.settings.summaryList.email' | translate
              },
              value: {
                  text: 'email@test.com'
              },
              actions: {
                  items: [
                      {
                          href: "/enter-password?type=changeEmail",
                          text: 'account.pages.settings.summaryList.changeAction' | translate,
                          visuallyHiddenText: 'account.pages.settings.summaryList.email' | translate
                      }
                  ]
              }
          },
          {
              key: {
                  text: 'account.pages.settings.summaryList.password' | translate
              },
              value: {
                  text: "••••••••••••••••"
              },
              actions: {
                  items: [
                      {
                          href: "/enter-password?type=changePassword",
                          text: 'account.pages.settings.summaryList.changeAction' | translate,
                          visuallyHiddenText: 'account.pages.settings.summaryList.password' | translate
                      }
                  ]
              }
          },
          {
              key: {
                  text: 'account.pages.settings.summaryList.phoneNumber' | translate
              },
              value: {
                  text: '07111111111'
              },
              actions: {
                  items: [
                      {
                          href: "/enter-password?type=changePhoneNumber",
                          text: 'account.pages.settings.summaryList.changeAction' | translate,
                          visuallyHiddenText: 'account.pages.settings.summaryList.phoneNumber' | translate
                      }
                  ]
              }
          }
      ]
  }) }}
  <hr class="govuk-section-break govuk-section-break--m">
  {% if hasProofOfId %}
    <h2 class="govuk-heading-m">{{ 'account.pages.settings.yourProofOfId.heading' | translate }}</h2>
    <p class="govuk-body">{{ 'account.pages.settings.yourProofOfId.info' | translate }}</p>
    <a href="/account/settings/your-proof-of-identity" class="govuk-link govuk-body">{{ 'account.pages.settings.yourProofOfId.link' | translate }}</a>
    <hr class="govuk-section-break govuk-section-break--m">
  {% endif %}
  <h2 class="govuk-heading-m">{{ 'account.pages.settings.yourAccountActivity.heading' | translate }}</h2>
  <p class="govuk-body">{{ 'account.pages.settings.yourAccountActivity.info' | translate }}</p>
  <a href="/account/settings/activity" class="govuk-link govuk-body">{{ 'account.pages.settings.yourAccountActivity.link' | translate }}</a>
  <hr class="govuk-section-break govuk-section-break--m">
  <h2 class="govuk-heading-m">{{ 'account.pages.settings.deleteAccount.heading' | translate }}</h2>
  <p class="govuk-body">{{ 'account.pages.settings.deleteAccount.info' | translate }}</p>
  <a href="/enter-password?type=deleteAccount" class="govuk-link govuk-body">{{ 'account.pages.settings.deleteAccount.link' | translate }}</a>
  <hr class="govuk-section-break govuk-section-break--m">
{% endblock %}
