{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'Identity reuse proof of concept' %}
{% set serviceName = 'GOV.UK account' %}

{% block content %}
<h1 class="govuk-heading-xl">Identity reuse proof of concept</h1>

  <h2 class="govuk-heading-m">Journeys</h2>

  {{ govukButton({
      text: "Request a basic DBS check",
      href: "/dbs/request-a-basic-dbs-check"
  }) }}

  <h2 class="govuk-heading-m">Pages</h2>
  <h3 class="govuk-heading-s">Account</h2>
  <ul>
    <li><a href="/account" class="govuk-link">GOV.UK Account</a></li>
  </ul>
  <h3 class="govuk-heading-s">DBS</h2>
  <ul>
    <li><a href="/dbs/request-a-basic-dbs-check" class="govuk-link">Request a basic DBS check</a></li>
  </ul>
  <h3 class="govuk-heading-s">Identity</h2>
  <ul>
    <li><a href="/identity/prove-identity-logged-out" class="govuk-link">Prove your identity to continue</a></li>
    <li><a href="/identity/prove-identity" class="govuk-link">Prove your identity</a></li>
    <li><a href="/identity/use-saved-proof-of-identity" class="govuk-link">Use your saved proof of identity to continue</a></li>
    <li><a href="/identity/enter-passport" class="govuk-link">Enter your details exactly as they appear on your UK passport</a></li>
    <li><a href="/identity/find-address" class="govuk-link">Find your address</a></li>
    <li><a href="/identity/choose-address" class="govuk-link">Choose your address</a></li>
    <li><a href="/identity/enter-address" class="govuk-link">Enter your address</a></li>
    <li><a href="/identity/confirm-details" class="govuk-link">Confirm your details</a></li>
    <li><a href="/identity/check-your-details" class="govuk-link">We need to check your details</a></li>
    <li><a href="/identity/security-questions/intro" class="govuk-link">Answer security questions</a></li>
    <li><a href="/identity/security-questions/question-1" class="govuk-link">How much did you borrow when you first took out your mortgage?</a></li>
    <li><a href="/identity/security-questions/question-2" class="govuk-link">When did you open your current account?</a></li>
    <li><a href="/identity/security-questions/question-3" class="govuk-link">When did you take out your mobile phone contract?</a></li>
    <li><a href="/identity/security-questions/question-4" class="govuk-link">How much of your loan do you pay back every month?</a></li>
    <li><a href="/identity/save" class="govuk-link">You’ve successfully proved your identity</a></li>
    <li><a href="/identity/complete/saved" class="govuk-link">You’ve saved your proof of identity to your GOV.UK account</a></li>
  </ul>

  <h3 class="govuk-heading-s">Personal tax</h2>

  {{ govukButton({
      text: "Begin Personal tax Journey",
      href: "/personal-tax/sign-in-or-set-up"
  }) }}

  <ul>
    <li><a href="/personal-tax/sign-in-or-set-up" class="govuk-link">Personal tax account: sign in or set up</a></li>
    <li><a href="/personal-tax/home" class="govuk-link">Personal tax account home</a></li>
    <li><a href="/personal-tax/choose-paperless" class="govuk-link">Choose how to get your legal notices, penalty notices and tax letters</a></li>
  </ul>
{% endblock %}
