{% extends "dbs/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% set pageTitleName = "dbs.pages.applyForBasicCheck.title" | translate %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageTitleName }}</h1>
  <p class="govuk-body">{{ "dbs.pages.applyForBasicCheck.paragraph1" | translate }}</p>
  <p class="govuk-body">{{ "dbs.pages.applyForBasicCheck.paragraph2" | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ "dbs.pages.applyForBasicCheck.listItem1" | translate }}</li>
    <li>{{ "dbs.pages.applyForBasicCheck.listItem2" | translate }}</li>
    <li>{{ "dbs.pages.applyForBasicCheck.listItem3" | translate }}</li>
  </ul>
  <p class="govuk-body">{{ "dbs.pages.applyForBasicCheck.paragraph3" | translate }}</p>
  <form action="/dbs/prove-your-identity" method="post">
    {{ govukCheckboxes({
      idPrefix: "dbs-accept-privacy",
      name: "dbs-accept-privacy",
      classes: "govuk-checkboxes--small",
      items: [
        {
          value: "dbs-accept-privacy",
          html: "dbs.pages.applyForBasicCheck.agree" | translate
        }
      ]
    }) }}
    {{ govukButton({
      text: 'general.continue' | translate
    }) }}
  </form>
{% endblock %}
