{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ GDS_POC_MESSAGE.msgWelcome.message }} [{{langTag}}]</h1>

  <form action="/login" method="post">
    {{ govukButton({
      text: "Login",
      type: "submit"
    }) }}
  </form>

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/javascripts/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
